.dashboard{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:20px;

    margin-bottom:35px;

}

.box{

    background:white;

    padding:25px;

    border-radius:15px;

    box-shadow:0 5px 20px rgba(0,0,0,.1);

}

.box span{

    color:#777;

}

.box h2{

    margin-top:10px;

    font-size:32px;

}

.timer{

    font-size:28px;

    font-weight:bold;

    margin-bottom:15px;

}

.barra{

    width:100%;

    height:10px;

    background:#ddd;

    border-radius:20px;

    overflow:hidden;

    margin-bottom:20px;

}

.progresso{

    height:100%;

    background:#ff9800;

    transition:.5s;

}

.finalizado{

    border-color:#4CAF50;

}

.preco{

    color:#2e7d32;

    font-size:28px;

    font-weight:bold;

}

.botoes{

    display:flex;

    gap:10px;

    margin-top:20px;

}

.botao-editar{

    flex:1;

    background:#2196F3;

    color:white;

    border:none;

    padding:10px;

    border-radius:8px;

    cursor:pointer;

}

.botao-excluir{

    flex:1;

    background:#f44336;

    color:white;

    border:none;

    padding:10px;

    border-radius:8px;

    cursor:pointer;

}